@font-face {
    font-family: neu;
    src: url(./fonts/NeueHaasDisplayMediu.ttf);
}

/*------------------------ Css Reset ------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}


#main {
    height: 100vh;
    width: 100%;
}

#page1 {
    width: 100%;
    min-height: 100vh;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}


/*------------------------ Navbar ------------------------*/
nav {
    padding: 2vw 0vw;
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #8a8a8a89;
    border-radius: 50px;
    font-weight: 500;
    color: #0000009c;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #0000009c;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #fff;
}

/*------------------------ Home Page ------------------------*/
#center {
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 25vw;
    font-size: 1.8vw;

}

#center h1 {
    font-size: 10vw;
    text-align: end;
    line-height: 8vw;
}

#page1 video {
    width: 100%;
    border-radius: 20px;
    margin-top: 4vw;
    position: relative;
}

/*------------------------ Hero Shape ------------------------*/

#hero-shape {
    position: absolute;

    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}

#hero-1 {
    height: 100%;
    width: 100%;
    background-color: orangered;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

#hero-2 {
    height: 30vw;
    width: 30vw;
    background-color: orangered;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#hero-3 {
    height: 30vw;
    width: 30vw;
    background-color: orangered;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    animation-name: anime1;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anime1 {
    from {
        transform: translate(45%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}


@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

